* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --minWidth: 310px;
    --maxWidth: 1400px;
    --padding: 1rem -8.33%;
}

body {
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

#root {
    margin: 0 auto;
}


.container {
    width: min(var(--maxWidth), 100% - var(--padding) * 2);
    margin-inline: auto;
    min-width: var(--minWidth);
}
